@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Nanum+Myeongjo:wght@800&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Myeongjo", serif;
}
header {
  margin: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(59, 119, 99);
}
header .title {
  text-align: center;
  font-size: 50px;
  /* line-height is same with header height => middle */
  line-height: 100px;
  color: whitesmoke;
}
.container {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 80%;
  height: 1000px;
  background-color: whitesmoke;
}
.addList {
  width: 80%;
  height: 1000px;
  text-align: center;
}
.time {
  width: 10%;
  height: 54px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Myeongjo", serif;
}
.inputBox {
  margin-top: 10px;
  width: 70%;
  height: 30px;
  font-size: 24px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Myeongjo", serif;
}
.addBtn {
  /* 버튼 디자인 없애기 */
  border: 0;
  outline: 0;
  width: 10%;
  height: 50px;
  font-size: 24px;
  background-color: rgb(59, 119, 99);
  color: white;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Myeongjo", serif;
}
.addBtn:hover {
  cursor: pointer;
  background-color: rgb(41, 82, 68);
  color: white;
}
.suvtitle {
  margin: 0 auto;
  padding-left: 10%;
  width: 70%;
  height: 36px;
  background-color: rgb(59, 119, 99);
  text-align: left;
  color: whitesmoke;
  font-size: 24px;
  line-height: 36px;
}
.addList li {
  margin: 0 auto;
  width: 80%;
  height: 36px;
  list-style: none;
  font-size: 26px;
  list-style: 36px;
  background-color: white;
  border: 2px rgb(59, 119, 99) solid;
}
.listTime {
  float: left;
  color: white;
  background-color: rgb(59, 119, 99);
}
@media screen {
}
